html{
    font-family: "komet", sans-serif;
}

header{
    text-align: center;
    padding-top:2rem;
}

h1{
    font-size:80px;
    font-weight:400;
    line-height: 0px;
}

h2{
    font-weight:200;
    font-size:20px;
}

.grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding:5rem 5rem 0 5rem;  
}
  
  .box {
    display:block;
    background: #ffffff;
    padding: 20px 20px 5px 20px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    text-decoration: none;
    color:black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  img{
    width:100%;
  }

  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: white;
    font-size:12px;
  }

  .box:hover {
    transform: scale(1.03);      
    box-shadow: 0 4px 12px rgba(255, 158, 193, 0.991);  
  }